<section class='todoapp'>
  <header id='header'>
    <h1>todos({{filteredResults.length}}) {{#link-to 'emptypage'}}Emptypage{{/link-to}}</h1>
    {{input type='text'
            class='new-todo'
            placeholder='Filter by'
            value=filterText
            enter='filterByUser'}}
    {{input type='text'
            class='new-todo'
            placeholder='What needs to be done?'
            value=newTitle
            enter='createTodo'}}
  </header>
  <section class='main'>
    {{todos-list todos=filteredResults class='todo-list'}}

    <input type='checkbox'
            class='toggle-all'
            checked={{allAreDone}}
            onchange={{action 'completeAll'}}>
  </section>

  <footer class='footer'>
    <span class='todo-count'>
      <strong>{{filteredResults.length}}</strong> {{inflection}} left
    </span>

    <ul class='filters'>
      <li> {{link-to 'All' 'todo'       (query-params state='all')       activeClass='selected'}} </li>
      <li> {{link-to 'Active' 'todo'    (query-params state='active')    activeClass='selected'}} </li>
      <li> {{link-to 'Completed' 'todo' (query-params state='completed') activeClass='selected'}} </li>
    </ul>

    {{#if completed}}
      <button class='clear-completed' {{action 'clearCompleted'}}>
        Clear completed ({{completed.length}})
      </button>
    {{/if}}
  </footer>
</section>

<footer class='info'>
  <p>Double-click to edit a todo</p>
</footer>
