<section class='todoapp'>
  <header id='header'>
    {{input type='text'
            class='new-todo'
            placeholder='Filter by'
            value=filterText
            enter='filterByUser'}}
    {{input type='text'
            class='new-todo'
            placeholder='What needs to be done?'
            value=newTitle
            enter='createTodo'}}
  </header>
  <section class='main'>
    <select onchange={{action "selectSort" value="target.value"}}>
      {{#each sorts as |sort|}}
        <option value={{sort}}>{{sort}}</option>
      {{/each}}
    </select>

      {{#each categoryGrouping as |group|}}
        <b>{{group.value}} ({{group.items.length}})</b>
        {{todos-list todos=group.items class='todo-list' currentSort=currentSort}}
      {{/each}}
    <input type='checkbox'
            class='toggle-all'
            checked={{allAreDone}}
            onchange={{action 'completeAll'}}>
  </section>

  <footer class='footer'>
    <span class='todo-count'>
      <strong>{{filteredResults.length}}</strong> {{inflection}} left
    </span>

    <ul class='filters'>
      <li> {{link-to 'All' 'todo'       (query-params state='all')       activeClass='selected'}} </li>
      <li> {{link-to 'Active' 'todo'    (query-params state='active')    activeClass='selected'}} </li>
      <li> {{link-to 'Completed' 'todo' (query-params state='completed') activeClass='selected'}} </li>
    </ul>

    {{#if completed}}
      <button class='clear-completed' {{action 'clearCompleted'}}>
        Clear completed ({{completed.length}})
      </button>
    {{/if}}
  </footer>
</section>

<footer class='info'>
  <p>Double-click to edit a todo</p>
</footer>
