{{#if isEditing}}
  {{edit-todo class='edit' value=title
                           focus-out=(action 'save' todo)
                           insert-newline=(action 'save' todo)}}
{{else}}
  <input type='checkbox' checked={{isCompleted}} class='toggle' onchange={{action 'toggleCompleteTodo' todo}}>
  <label {{action 'editTodo' on='doubleClick'}}>{{title}}</label>
  <div class="comments"><span>{{comments}}</span></div>
  <div class="date"><span>{{createdAt}}</span></div>
  {{#if dateMode}}
    {{date-picker date=date valueFormat='YYYY-MM-DD' class='date-picker'}}
  {{else}}
    <button {{action 'toggleDateMode'}} class="date-picker">Click to Date</button>
  {{/if}}
  <button {{action 'removeTodo' todo}} class='destroy'></button>
{{/if}}
