<div class="item-title">
  {{#if isCollapsed}}
    <a class="expand-button" {{action 'expand'}}>+</a>
  {{else}}
    <a class="collapse-button" {{action 'collapse'}}>-</a>
  {{/if}}
  <div class="content" contenteditable>{{todo.title}} ({{todo.position}})</div>
</div>

{{#if todo.children.length}}
  <ol>
    {{#each sortedChildren as |child|}}
      {{todo-item todo=child}}
    {{/each}}
  </ol>
{{/if}}

